<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>Bachelor of Engineering in Computer Science</h1>
            <span>University of Pune</span>
            <span><address>Pune, India</address><time>2006 to 2010</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Diploma in Cyber Law</h1>
            <span>Government Law College</span>
            <span><address>Mumbai, India</address><time>2009</time></span>
        </header>
    </article>
</section>
