<section class="thirteen columns">
    <h1>Employment</h1>
    <article>
        <header>
            <h1>IT Consultant</h1>
            <span><a href="#" target="_blank">Pratik Electricals</a></span>
            <span><address>Pune, India</address><time>December 2016 to Present</time></span>
        </header>
            <p>Lead meetings/discussions with clients to plan, design, implement, and optimise enterprise grade multi-vendor network infrastructure (wired and wireless) and network security solutions.<br>Gather required information with respect to the customer’s organisational needs and carry out testing of new network designs, features, and functionalities as per client requirement.</p>
            <!-- <li><p>Responsible for running data centre operations, network operations, application development and maintenance, security and other line functions.</p></li> -->
    </article>
    <article>
        <header>
            <h1>Assistant Project Manager</h1>
            <span><a href="http://microlineindia.com/" target="_blank">Microline</a></span>
            <span><address>Pune, India</address><time>August 2013 to August 2016</time></span>
        </header>
        <p>Assist in definition of project scope and objectives, involving all relevant stakeholders and ensuring technical feasibility.<br>Coordinate internal resources and third parties/vendors for flawless execution of projects. Ensure resource availability and allocation. Establish and maintain relationships with third parties/vendors.<br>Develop a detailed project plan to monitor and track progress. Manage changes/conflicts to the project scope, schedule, and project costs.<br></p>
    </article>
    <article>
        <header>
            <h1>Techincal Specialist</h1>
            <span><a href="#" target="_blank">Internetwork Solutions</a></span>
            <span><address>Mumbai, India</address><time>September 2011 to March 2013</time></span>
        </header>
        <p>Coordinating and delivering training for internal and external audiences. Subjects : CCNA, CCNA Security, CCNP Security, CCIE Security.<br>Responsible for maintaining readiness of all course materials and equipment prior to training. Maintain high quality technical courseware and labs.<br>Partner with technical course development team to design and develop product documentation, training tools that meet customer and employee needs.</p>
    </article>
    <article>
        <header>
            <h1>Network Engineer</h1>
            <span>Tech Networks</span>
            <span><address>Mumbai, India</address><time>August 2010 to July 2011</time></span>
        </header>
        <p>Responsible for installation, configuration, integration and support of LAN network infrastructure systems in conjuction with external consultants and vendors. Maintain inventory of IT assets, system image configurations.<br>Troubleshoot and provide solutions to day-to-day IT challenges faced by users; both local and remote.</p>
    </article>
</section>
