<section class="thirteen columns">
    <h1>Entrepreneurial Skills</h1>
    <article>
        <header>
            <h1>Co-Founder</h1>
            <span><a href="https://www.tagloy.com/" target="_blank">Tagloy</a></span>
            <span><address>Pune, India</address><time>December 2016 to Present</time></span>
        </header>
            <p>Co-created the Tagloy eco-system – An in-venue engagement platform for hospitality, retail, and educational verticals.<br>Currently Tagloy is used across more than 30 restaurants in Pune and Mumbai (3 months after launch in November 2017).</p>
    </article>
    <article>
        <header>
            <h1>IT Consultant</h1>
            <span>Pratik Electricals</span>
            <span><address>Pune, India</address><time>August 2013 to Present</time></span>
        </header>
       <p>Lead meetings/discussions with clients to plan, design, implement, and optimise enterprise grade multi-vendor network infrastructure (wired and wireless) and network security solutions.<br>Gather required information with respect to the customer’s organisational needs and carry out testing of new network designs, features, and functionalities as per client requirement.</p>
    </article>
</section>
