<section class="thirteen columns">
    <h1>Technical Skills and Competencies</h1>
    <article>
        <header>
            <h1>IT Network Engineering</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
            &nbsp;&nbsp;<em>Network Design, Implementation and Troubleshooting</em>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i>
            &nbsp;&nbsp;<em>Firewalls:</em>Cisco 5500 X-series, Fortigate 60D, 200D, Dell Sonicawall NSA 3600, Cyberoam i25, i50
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Routers:</em> Cisco 39xx, 29xx, 19xx (G2), 18xx, 28xx (G1)
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Switches:</em> Cisco Catalyst 4500-E, 3850, 3750X, 3560, 2960-S/X/CX
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Wireless:</em> Cisco WLC 5500, 2500 series, Cisco Aironet AP 1140, 1700, 1800 series, Ruckus WLC 1100, Ruckus ZF AP R500, R300, 7982, 7372, 7025
        </p>
    </article>
    <article>
        <header>
            <h1>Software Engineering & Web Development</h1>
        </header>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Python</em>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Django</em> &amp; <em>Wordpress</em>
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>HTML/CSS3</em>, <em>Javascript</em> &amp; <em>SQL</em>
        </p>
        <p>
            <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i>
            &nbsp;&nbsp;<em>Devops:</em> AWS EC2, RDS, Lambda, git, Nginx
        </p>
    </article>
</section>
